<!DOCTYPE html>
<html>
<head>
<title>GenericCMS</title>
</head>
<body>
<h1>GenericCMS!</h1>
<p><a href="/">Index page</a></p>
<p><a href="/page/page-1">Page 1</a></p>
<p><a href="/page/page-2">Page 2</a></p>
<%= yield %>
</body>
</html>
